* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    border: 1px solid #333;
    width: 22rem;
    padding: 15px;
    height: 70vh;
    border-radius: 16px;
    box-shadow: 2px 2px 10px #666;
    justify-content: center;
    align-items: center;
}

.calculator form input[type = "button"] {
    padding: 15px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: -1px 3px 5px #1a1a1a;
    border: none;
    width: 4rem;
    font-size: 20px;
    transition: background-color 0.3s ease; 
}
.calculator form input[type = "button"]:active {
    transform: scale(1.1);
}

form .display input {
    text-align: right;
    outline: none;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #1a1a1a;
    height: 50px;
    width: 19.5rem;
    margin-bottom: 15px;
    padding: 0px 10px 0px 0px;
    font-size: 35px;
    flex: 1;
}
form .display input::placeholder {
    opacity: 0.3;
}

.calculator form input.equal {
    height: 7.4rem;
    margin: 0 0 0 9px;
    position: absolute;
}
.calculator form input#zero {
    width: 8.7rem;
}
